* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary_color: #0b7285;
  --secondary_color: #3c8e9d;
  --nav_color: #ffffffb2;
  --mint_color: #f4fff8;
  --night_color: #000f08;
  --btn_color: #522b47;
  --violet_color: #493548;
}

body {
  background-color: #f2f2f2;
  width: 100%;
  font-size: 16px;
}

/* navbar style */

.nav_container {
  height: 4rem;
  gap: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--nav_color);

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  ul {
    margin: 0;
    list-style: none;
    border: none;
    overflow: hidden;

    li {
      display: inline-block;
      margin: 0 5rem;

      a {
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--primary_color);
        text-decoration: none;
      }

      a:hover {
        color: var(--secondary_color);
      }
    }
  }
}

img {
  width: 4rem;
  height: 2.5rem;
  margin-right: 1rem;
}

/* header style */
section {
  width: 90%;
  margin: 3rem auto;

  .container {
    text-align: center;
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .text_section {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      margin: 1.5rem;
      gap: 1rem;

      h1 {
        color: #000f08;
        text-align: start;
        font-size: 3rem;

        span {
          color: var(--primary_color);
        }
      }

      .btn_container {
        display: flex;
        margin: 0.2rem 3rem;
        gap: 1rem;

        button {
          font-size: 1rem;
          padding: 0.5rem 1rem;
          border-radius: 50rem;
          border: none;
          color: #e1e1e1;
          background-color: var(--btn_color);
          cursor: pointer;
        }

        button:hover {
          background-color: #4a2740;
        }
      }
    }

    .img_section {
      text-align: center;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .avatar {
        /* background-color: #4a274071; */
        background-color: #3c8f9d61;
        border-radius: 9999px;
        width: 70%;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        transform: scale(0.9);
      }
    }
  }
}

/* about style */

.about_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 12rem;
  padding: 2rem;
  padding-top: 0;
  margin: 5rem 20rem;
  background-color: #3c8f9d61;
  border-radius: 20px;

  h1 {
    padding-bottom: 1rem;
    /* color: var(--btn_color); */
    color: #000f08;
  }

  p {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2rem;
    color: #000f08;
  }
}

/* skills style */

.skills_container {
  padding: 2rem;
  padding-top: 0;
  margin: 5rem 20rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--night_color);
  }

  p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--night_color);
  }

  .skills_img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    h4 {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 5rem;
      height: 5rem;
      background-color: white;
      border-radius: 9999px;

      p {
        font-weight: 700;
      }

      p:hover {
        transform: scale(1.5);
      }
    }
  }
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .nav_container {
    gap: 2rem;
    padding: 1rem;
  }

  .nav_container ul li {
    margin: 0 2rem;
  }

  section .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: auto;
  }

  section .container .text_section h1 {
    font-size: 2.5rem;
  }

  section .container .img_section {
    grid-row: 1/2;
  }
  section .container .text_section {
  }

  .about_container,
  .skills_container {
    margin: 5rem 2rem;
  }
}

@media (max-width: 480px) {
  .nav_container {
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }

  .nav_container ul li {
    margin: 0 1rem;
  }

  section .container .text_section h1 {
    font-size: 2rem;
  }

  section .container .text_section .btn_container {
    margin: 0.2rem 1rem;
  }

  .about_container,
  .skills_container {
    margin: 3rem 1rem;
  }

  .about_container {
    padding: 0.8rem;
    align-items: center;
  }

  .about_container h1 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  .about_container p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .skills_container {
    padding: 0.5rem;
    gap: 2rem;
  }

  .skills_container h1 {
    font-size: 1.8rem;
  }
  .skills_container p {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
  }
  .skills_container .skills_img {
    gap: 0.8rem;
  }

  .skills_container .skills_img h4 {
    width: 4.4rem;
    height: 4.4rem;
  }
}
